@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
}

body {
  padding: 0 30px;
}

h1 {
  text-align: center;
}

.meals-wrapper {
  width: 960px;
  margin: 0 auto;
}

.meals-wrapper p {
  padding-top: 20px;
}

.menu {
  position: absolute;
  top: 20px;
  right: 50px;
  list-style: none;
}

.menu li a {
  color: #80e680;
}

.content {
  display: flex;
  flex-flow: row wrap;
}

.content form {
  width: 300px;
  margin-left: 50px;
  padding: 20px;
  box-shadow: 0 2px 4px 2px lightgrey;
}

.content form input {
  border-radius: 5px;
  padding: 5px 15px;
  margin: 5px 0 20px;
}

.meals {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
}

.meals li {
  margin-bottom: 20px;
  height: 300px;
  width: 200px;
  box-shadow: 0 2px 4px 2px lightgrey;
  color: #666565;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.meals li .meal-title {
  padding: 0 10px;
  font-size: 1.2rem;
}

.meals li .meal-info {
  padding: 0 10px;
  position: absolute;
  bottom: 10px;
  font-size: 0.8rem;
}

.meals li .meal-info i {
  padding-right: 5px;
}

.meals.meals-detailed {
  flex-flow: column wrap;
}

.meals.meals-detailed li {
  margin-bottom: 20px;
  height: 200px;
  width: 100%;
  box-shadow: 0 2px 4px 2px lightgrey;
  color: #666565;
  position: none;
  flex-flow: row wrap;
}

.meals.meals-detailed li img {
  width: 400px;
  height: 200px;
}

.meals.meals-detailed li .info {
  display: block;
  padding: 20px 40px;
}

.meals.meals-detailed li .info .title {
  font-size: 1.4rem;
  font-weight: bold;
}

.meals.meals-detailed li .info .description {
  padding: 20px 0;
  font-size: 1.2rem;
}

.meals.meals-detailed li .info .link a {
  color: #666565;
}

.meals.meals-detailed li .info .location-price {
  padding-top: 20px;
  font-size: 0.8rem;
}

.meals.meals-detailed li .info .location-price i {
  padding-right: 5px;
}

.meal {
  display: flex;
  flex-flow: column nowrap;
  width: 500px;
  box-shadow: 0 2px 4px 2px lightgrey;
  color: #666565;
}

.meal img {
  width: 500px;
  height: 400px;
}

.meal .info {
  display: block;
  padding: 20px 40px;
}

.meal .info .title {
  font-size: 1.4rem;
  font-weight: bold;
}

.meal .info .description {
  font-size: 1.2rem;
}

.meal .info .link a {
  color: #666565;
}

.meal .info .location-price {
  padding-top: 5px;
  font-size: 0.8rem;
}

.meal .info .location-price i {
  padding-right: 5px;
}
